body {
    text-align: center;
}

.instructions {
    font-size: 16px;
    margin-top: 20px;
}

.title {
    font-family: "Montserrat", sans-serif;
}

.score{
    font-family: 'Ubuntu', sans-serif;
}
